@import "../../../assets/styles/color-variables.scss";

.wrapper-home {
  margin-top: 10px;
}

.welcome {
  margin-top: 50px;
  font-size: 36px;
  color: $blue;
  font-weight: 800;
  line-height: 50.4px;
  text-align: left;
}

.sub-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 30.83px;

  .info-title {
    color: $red;
  }
}

.body-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.desc-wrapper {
  max-width: 540px;
}

.desc-banner {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: $body;
}

.login-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.login-space {
  margin-top: 40px;
}

.login-google-btn {
  margin-top: 6px;
  width: 459px !important;
  height: 50px !important;
  border: 1px solid;
  border-image: linear-gradient(
    90.52deg,
    #314f84 13.93%,
    #ed2129 50.16%,
    #ffed47 75.47%,
    #65b741 97.19%
  ) !important;
  background: linear-gradient(white 0 0) padding-box,
    linear-gradient(
        90.52deg,
        #314f84 13.93%,
        #ed2129 50.16%,
        #ffed47 75.47%,
        #65b741 97.19%
      )
      border-box;
  color: $primary !important;
}
