$primary: #314F84;
$primary-text: #171717;
$body: #4E4F54;
$placeholder: #AEAEB3;

$blue: #314F84;
$blue-dark: #273F6A;
$blue-light-1: #D5DCEB;
$blue-light-2: #B0BDD4;
$blue-light-3: #556E9B;

$white:#E1E2E3;
$grey-light-1: #F9F9FB;
$grey-light-2: #F4F4F4;
$black:#000;
$red: #ED2129;
$red-dark: #BE1A21;
