@import 'bootstrap/dist/css/bootstrap.min.css';
@import './color-variables.scss';
@import '../../components/atoms/Button/style.scss';

body {
  display: flex;
  justify-content: center;
  padding: 100px;
}